<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        
    </NotFound>
</Router>

<RedirectToDefault />

<button @onclick="NavigateToDocuments" class="btn btn-primary m-5">Obtener Listado</button>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    private void NavigateToDocuments()
    {
        NavigationManager.NavigateTo("/documents");
    }
}
