@using Api_App.Data
@page "/documents"
@inject DocumentService DocumentService


    <h3>Listado Documentos</h3>
    @if (documents == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>VActiva</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in documents)
                {
                    <tr>
                        <td>@doc.Codigo</td>
                        <td>@doc.Descripcion</td>
                        <td>@doc.VActiva</td>
                    </tr>
                }
            </tbody>
        </table>
    }

@code {
    private List<Document>? documents;
    
    protected override async Task OnInitializedAsync(){
        documents = await DocumentService.GetDocumentsAsync();
    }


}